Repository samsung-cnct/k2, changes with the owners that CODEOWNERS names for each.
All owners: @samsung-cnct/kraken-reviewers, @davidewatson, @coffeepac, @guineveresaenger, @joejulian

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @samsung-cnct/kraken-reviewers

# Order is important. The last matching pattern has the most precedence.
/docs/              @davidewatson
/docker/            @coffeepac @guineveresaenger
/schema/            @davidewatson @coffeepac
/build-scripts/     @coffeepac
/hack/              @coffeepac @joejulian
/lib/               @joejulian
/sphinx/            @davidewatson
/hack/dockerdev/    @joejulian

# Ansible directory should be broken up by role

bypassing checks by setting default to v0.0.0
  ansible/roles/kraken.config/files/gke-config.yaml
  ansible/roles/kraken.provider/kraken.provider.gke/tasks/update-cluster.yaml
Owners: @samsung-cnct/kraken-reviewers

just update GKE version as usual
  ansible/roles/kraken.config/files/gke-config.yaml
  ansible/roles/kraken.provider/kraken.provider.gke/tasks/update-cluster.yaml
Owners: @samsung-cnct/kraken-reviewers

feat: adding kube-bench testing to CI
  .gitlab-ci.yml
  build-scripts/benchmark-conf/1.6/master.yaml
  build-scripts/benchmark-conf/1.6/node.yaml
  build-scripts/benchmark-conf/1.7/master.yaml
  build-scripts/benchmark-conf/1.7/node.yaml
  build-scripts/benchmark-conf/1.8/master.yaml
  build-scripts/benchmark-conf/1.8/node.yaml
  build-scripts/benchmark-conf/1.9/master.yaml
  build-scripts/benchmark-conf/1.9/node.yaml
  build-scripts/benchmark-conf/config.yaml
  build-scripts/benchmark-tests
  hack/benchmark-test.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

fix: issue with benchmark tests not paramerterizing the generated configuration in CI correctly
  .gitlab-ci.yml
  build-scripts/benchmark-tests
Owners: @samsung-cnct/kraken-reviewers, @coffeepac

fix: only return success when all the checks pass
  build-scripts/benchmark-tests
Owners: @coffeepac

small coding cleanup to make functions consistent
  build-scripts/benchmark-tests
Owners: @coffeepac

Add support for MaaS as a provider
  ansible/roles/kraken.config/tasks/per-cluster-setup.yaml
  ansible/roles/kraken.provider/kraken.provider.selector/tasks/main.yaml
  ansible/roles/kraken.ssh/kraken.ssh.selector/tasks/main.yaml
  ansible/roles/kraken.update/kraken.update.selector/tasks/main.yaml
  schemas/config/v1/maasAuthenticationConfig.json
  schemas/config/v1/maasNodeConfig.json
  schemas/config/v1/maasNodeMountConfig.json
  schemas/config/v1/maasNodeProviderConfig.json
  schemas/config/v1/maasNodeTag.json
  schemas/config/v1/maasProviderConfig.json
  schemas/config/v1/maasStorageDevice.json
  schemas/config/v1/nodeConfig.json
  schemas/config/v1/providerConfig.json
Owners: @samsung-cnct/kraken-reviewers

accept the change
  Documentation/tags/README.md
Owners: @samsung-cnct/kraken-reviewers

final set of commits to get a kraken on ubuntu on AWS cluster running
  ansible/roles/kraken.nodePool/kraken.nodePool.master/tasks/each-cluster-nodepool.yaml
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/default-docker.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.node/tasks/each-cluster-nodepool.yaml
  ansible/roles/kraken.nodePool/kraken.nodePool.node/templates/default-docker.jinja2
  ansible/up.yaml
Owners: @samsung-cnct/kraken-reviewers

add docs for pre_provider tag
  Documentation/tags/README.md
Owners: @samsung-cnct/kraken-reviewers

move python scripts over to simply usage
  bin/cloudconfigcleanup.py
  bin/ubuntu-aws.py
Owners: @samsung-cnct/kraken-reviewers

almost all required hacks to get ubuntu working
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/api-server-manifest.yaml.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/controller-manager-manifest.yaml.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.node/templates/units.kubelet.part.jinja2
  ansible/roles/kraken.provider/kraken.provider.aws/tasks/main.yaml
  ansible/roles/kraken.provider/kraken.provider.aws/templates/kraken.provider.aws.module.etcd.tf.jinja2
  ansible/roles/kraken.provider/kraken.provider.aws/templates/kraken.provider.aws.module.master.tf.jinja2
  ansible/roles/kraken.provider/kraken.provider.aws/templates/kraken.provider.aws.module.node.tf.jinja2
  ansible/roles/kraken.ssh/kraken.ssh.aws/templates/bastion_ssh_config.jinja2
  ansible/roles/kraken.ssh/kraken.ssh.aws/templates/ssh_config.jinja2
  ansible/up.yaml
  bin/ssh_command.sh
  docker/Dockerfile
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @guineveresaenger

Pin coreos version to resolve e2e udp failure
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

rev gke as well
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

cert pic url fixed
  README.md
Owners: @samsung-cnct/kraken-reviewers

add system log mount to master kubelets
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.6/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.7/units.kubelet.part.jinja2
Owners: @samsung-cnct/kraken-reviewers

create the directory or everything fails
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.6/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.7/units.kubelet.part.jinja2
Owners: @samsung-cnct/kraken-reviewers

and then mount the directory
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.6/units.kubelet.part.jinja2
  ansible/roles/kraken.nodePool/kraken.nodePool.master/templates/v1.7/units.kubelet.part.jinja2
Owners: @samsung-cnct/kraken-reviewers

Add untested support for cluster autoscaler with newer k8s versions.
  ansible/roles/kraken.services/tasks/run-services.yaml
Owners: @samsung-cnct/kraken-reviewers

Retry wait if not ready and api connection closes
  ansible/library/kubernetes_node_wait.py
Owners: @samsung-cnct/kraken-reviewers
