Repository samsung-cnct/k2, changes with the owners that CODEOWNERS names for each.
All owners: @samsung-cnct/kraken-reviewers, @davidewatson, @coffeepac, @guineveresaenger, @joejulian

bug fixes
  ansible/roles/kraken.config/files/config.yaml
  ansible/roles/kraken.fabric/kraken.fabric.flannel/templates/rbac-canal-policy.yaml.jinja2
  ansible/roles/kraken.services/defaults/main.yaml
Owners: @samsung-cnct/kraken-reviewers

update gitlab config
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

Avoid terminate calls on already-terminated cluster nodes
  hack/kraken-teardown-aws.sh
Owners: @coffeepac, @joejulian

Paginate load balancer tag queries to fit API limit
  hack/kraken-teardown-aws.sh
Owners: @coffeepac, @joejulian

Also remove network interfaces with the VPC
  hack/kraken-teardown-aws.sh
Owners: @coffeepac, @joejulian

only need default fabric for 1.7,.8,.9. fix compat check for calico
  ansible/library/compatibility.py
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

pull coreos to latest stable release
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

force another gitlab run
  ansible/roles/kraken.config/README.md
Owners: @samsung-cnct/kraken-reviewers

Add GKE teardown script
  hack/kraken-teardown-gke.sh
Owners: @coffeepac, @joejulian

Correction to notes for command line args.
  hack/kraken-teardown-aws.sh
Owners: @coffeepac, @joejulian

testing for demo
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

long job
  .gitlab-ci.yml
  hack/wait
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

clearify default etcd stanzas based on k8s version
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

Fix up comments/doc for usage of teardown scripts
  hack/kraken-teardown-aws.sh
  hack/kraken-teardown-gke.sh
Owners: @coffeepac, @joejulian

Safe execution when optional DEBUG env absent
  hack/kraken-teardown-aws.sh
Owners: @coffeepac, @joejulian

jobs in parallel
  .gitlab-ci.yml
  hack/wait2
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

re-trigger failfast
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

2nd stage
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

failfast failing
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

DRY the CI config out a bit wrt credentials
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

artifact example
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

forgot to add script
  .gitlab-ci.yml
  hack/wait
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

longer message from artifact
  hack/wait
Owners: @coffeepac, @joejulian

tightened it up
  .gitlab-ci.yml
  hack/wait
  hack/wait2
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

SSH keygen job needs kraken tools image :/
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

SSH artifacts explicitly identified too
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

SSH keys must be copied into CI project directory :(
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

Fix typo on GKE credentials file
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

typo in command in gcp script
  hack/kraken-teardown-gke.sh
Owners: @coffeepac, @joejulian

file permissions
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

adding credentials and changing gke to bash script
  .gitlab-ci.yml
  hack/kraken-teardown-gke.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

teardown should be separate stage
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

whitespace commit
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

now with cluster name as input
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

clarified number of CI setting vars
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

typo in gke teardown script
  hack/kraken-teardown-gke.sh
Owners: @coffeepac, @joejulian

gke command has all the args
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

blank line for ci purposes
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

piping teardown file output to bash
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

mktemp should have six X's
  hack/kraken-teardown-aws.sh
  hack/kraken-teardown-gke.sh
Owners: @coffeepac, @joejulian

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @samsung-cnct/kraken-reviewers

# Order is important. The last matching pattern has the most precedence.
/docs/              @davidewatson
/docker/            @coffeepac @guineveresaenger
/schema/            @davidewatson @coffeepac
/build-scripts/     @coffeepac
/hack/              @coffeepac @joejulian
/lib/               @joejulian
/sphinx/            @davidewatson
/hack/dockerdev/    @joejulian

# Ansible directory should be broken up by role
