Repository samsung-cnct/k2, changes with the owners that CODEOWNERS names for each.
All owners: @samsung-cnct/kraken-reviewers, @davidewatson, @coffeepac, @guineveresaenger, @joejulian

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @samsung-cnct/kraken-reviewers

# Order is important. The last matching pattern has the most precedence.
/docs/              @davidewatson
/docker/            @coffeepac @guineveresaenger
/schema/            @davidewatson @coffeepac
/build-scripts/     @coffeepac
/hack/              @coffeepac @joejulian
/lib/               @joejulian
/sphinx/            @davidewatson
/hack/dockerdev/    @joejulian

# Ansible directory should be broken up by role

adding xtrace and default gcp zone
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

all the credentials
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

make files executable
  .gitlab-ci.yml
  hack/kraken-teardown-aws.sh
  hack/kraken-teardown-gke.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

added extra cleanup stages
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

testing if files exist
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

lets start a gitlab ci pipeline
  .gitlab-ci.yml
  hack/wait
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

testing env vars
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

KRAKEN_TOOLS_VERSION=latest
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

use docker-update script to set kraken_tools version in dockerfile for kraken-lib build
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

update calico versions
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

save the commit, not the diff
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

always save artifacts from 'cluster up'
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

add a space to the CLI args to make them work again
  bin/max_k8s_version.sh
Owners: @samsung-cnct/kraken-reviewers

rev version of kraken-tools for 1.9 support
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

add support for multiple versions of k8s in CI
  .gitlab-ci.yml
  ansible/roles/kraken.config/files/config.yaml
  build-scripts/update-generated-config.sh
  hack/gen-test-config.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

bug fixes, there will be many of these
  .gitlab-ci.yml
  build-scripts/update-generated-config.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac

bash, not sh
  build-scripts/update-generated-config.sh
Owners: @coffeepac

for debugging
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

restructure config to be valid yaml
  ansible/roles/kraken.config/files/config.yaml
Owners: @samsung-cnct/kraken-reviewers

more small debugging
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

bug fix, add path for testing all on PR
  .gitlab-ci.yml
  build-scripts/conformance-tests
  hack/gen-test-config.sh
Owners: @samsung-cnct/kraken-reviewers, @coffeepac, @joejulian

close the regex:
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

add build jobs for old clusters
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

MINUS not MIUNUS
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

always delete the minus_one and minus_two clusters
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

docs updates
  CONTRIBUTING.md
  Documentation/UPGRADING_KUBERNETES.md
Owners: @samsung-cnct/kraken-reviewers

Add example.branch namr
  CONTRIBUTING.md
Owners: @samsung-cnct/kraken-reviewers

Add a comment
  build-scripts/docker-update.sh
Owners: @coffeepac

docker:latest doesn't ship with bash. do not use it
  build-scripts/docker-update.sh
Owners: @coffeepac

docker:latest doesn't ship with bash. do not use it
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

remove double nonsense
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

merge fix
  .gitlab-ci.yml
Owners: @samsung-cnct/kraken-reviewers

checking CI run for gke 1.8
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

missing a v
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

gke version as empty string
  ansible/roles/kraken.config/files/gke-config.yaml
  ansible/roles/kraken.update/kraken.update.gke/tasks/main.yaml
Owners: @samsung-cnct/kraken-reviewers

empty string, not empty space
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

is this a thing?
  ansible/roles/kraken.config/files/gke-config.yaml
  ansible/roles/kraken.update/kraken.update.gke/tasks/main.yaml
Owners: @samsung-cnct/kraken-reviewers

forgot the v AGAIN
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

trying without kubeconfig
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers

rollback
  ansible/roles/kraken.config/files/gke-config.yaml
Owners: @samsung-cnct/kraken-reviewers
